<mat-card class="mat-card">
  <mat-card-title>Consultar CEP</mat-card-title>
  <mat-card-subtitle
    >Insira seu CEP abaixo para gerar o endereço desejado</mat-card-subtitle
  >

  <form [formGroup]="formCep">
    <label for="cep">CEP: </label>
    <input
      type="text"
      id="cep"
      formControlName="cep"
      #cep
      (blur)="getCepByCode(cep.value)"
    />

    <label for="logradouro">Logradouro: </label>
    <input type="text" id="logradouro" formControlName="logradouro" />

    <label for="bairro">Bairro: </label>
    <input type="text" id="bairro" formControlName="bairro" />

    <label for="localidade">Localidade: </label>
    <input type="text" id="localidade" formControlName="localidade" />

    <label for="uf">UF: </label>
    <input type="text" id="uf" formControlName="uf" />

    <button (click)="updateForm()">Clicar</button>
  </form>
</mat-card>
